aside>figure{
	position:relative;
}

aside>figure>figcaption,
aside>figure>img,
aside>figure>a>img{
	border-radius: 1rem;
}

aside>figure>figcaption{
	position: absolute;
	bottom: .5rem;
	text-align: center;
	width:100%;
	background: #C8C8C8;
	opacity: 0.7;
}